

<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-windows ua-webkit book-new-nav">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>
《旷野无人》试读：引子
</title>
  <script>
!function(doc){

var setCookie = function(dict, days, path) {
  var date = new Date(), expires, key;
  days = days || 30;
  path = path || '/';
  date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
  expires = '; expires=' + date.toGMTString();
  for (key in dict){
    doc.cookie = key + '=' + dict[key] + expires + '; path=' + path;
  }
},

getCookie = function(name) {
  var na = name + '=', c, i, len, ca = doc.cookie.split(';');
  for (i = 0, len = ca.length; i < len; i++) {
    c = ca[i].replace(/^\s+|\s+$/g, '');
    if (c.indexOf(na) == 0) {
      return c.substring(na.length, c.length).replace(/\"/g, '');
    }
  }
  return null;
},

origWrite = doc.write,

whiteList = {
  'douban.com': 1,
  'douban.fm': 1,
  'google.com': 1,
  'google.cn': 1,
  'googleapis.com': 1,
  'gmaptiles.co.kr': 1,
  'gstatic.com': 1,
  'gstatic.cn': 1,
  'google-analytics.com': 1,
  'googleadservices.com': 1
},

report = function(reason, env) {
  var img = new Image();
  img.onload = function(){};
  img.src = 'https://www.douban.com/j/except_report?kind=ra022&reason='
    + encodeURIComponent(reason)
    + '&environment=' + encodeURIComponent(env);
},

write = function(value) {
  try {
    origWrite.call(doc, value);
  } catch (_e) {
    origWrite(value);
  }
},

_RE_SCRIPTS = /<script.*?src\=["']?([^"'\s>]+)/ig,
_RE_DOMAIN = /http:\/\/(.+?)\.([^\/]+).+/i;

doc.writeln = doc.write = function(value) {
  var fileUrl = _RE_SCRIPTS.exec(value), fileDomain;

  // 若不是打印script跳过
  if (!fileUrl) {
    write(value);
    return;
  }

  // 若是本地地址跳过
  fileDomain = _RE_DOMAIN.exec(fileUrl[1]);
  if (!fileDomain) {
    write(value);
    return;
  }

  // 白名单域下文件跳过
  if (whiteList[fileDomain[2]]) {
    write(value);
    return;
  }

  if (getCookie('hj') === 'tqs') {
    return;
  }

  // 被劫持状态
  report(fileUrl[1], location.href);

  // 保存状态并自动刷新页面
  setCookie({'hj': 'tqs'}, 1);
  setTimeout(function() {
    location.replace(location.href);
  }, 50);
};

}(document);
</script>

  
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
  <meta name="referrer" content="always">
  <meta name="renderer" content="webkit">
  
  <script>var _head_start = new Date();</script>
  
  <link href="https://img1.doubanio.com/f/vendors/fae7e145bf16b2f427ba0fe7ef3d47c04af3a6c0/css/douban.css" rel="stylesheet" type="text/css">
  <link href="https://img1.doubanio.com/cuphead/book-static/common/master.6198c.css" rel="stylesheet" type="text/css">

  <link href="https://img3.doubanio.com/cuphead/book-static/base/init.e399f.css" rel="stylesheet">
  <style type="text/css">
.book-content { font:12px/1.6 arial,helvetica,sans-serif }
.book-content p { font-size: 14px; text-indent: 0; position: relative; margin: 0; padding: 0 }
.prev , .next , a.prev , a.next { padding: 0; margin: 0 }
.prev , .next { background: none; color: #888 }
</style>
  <script src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
  <script src="https://img1.doubanio.com/f/vendors/e258329ca4b2122b4efe53fddc418967441e0e7f/js/douban.js"></script>
  <script src="https://img3.doubanio.com/cuphead/book-static/common/master.3c0a3.js"></script>
  

  
    <link rel="stylesheet" href="https://img1.doubanio.com/f/vendors/e8a7261937da62636d22ca4c579efc4a4d759b1b/css/ui/dialog.css">
    <link rel="stylesheet" href="https://img3.doubanio.com/cuphead/book-static/common/issue.ab8df.css">

  <script>  </script>
  <!-- COLLECTED CSS -->

  <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>
<body>
  
    <script>var _body_start = new Date();</script>
    
  



    <link href="//img3.doubanio.com/dae/accounts/resources/f8b2226/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=book" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="on">
      <a href="https://book.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/podcast/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-podcast&quot;,&quot;uid&quot;:&quot;0&quot;}">播客</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f8b2226/shire/bundle.js" defer="defer"></script>




  


    <link href="//img3.doubanio.com/dae/accounts/resources/f8b2226/book/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-book" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;book.douban.com">豆瓣读书</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;book/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="书名、作者、ISBN" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1001" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://book.douban.com/cart/"
     >购书单</a>
    </li>
    <li    ><a href="https://read.douban.com/ebooks/?dcs=book-nav&dcm=douban"
            target="_blank"
     >电子图书</a>
    </li>
    <li    ><a href="https://book.douban.com/annual/2025/?fullscreen=1&dt_from=navigation"
            target="_blank"
     >2025年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2025/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&dt_from=web_navigation"
            target="_blank"
     >2025年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://book.douban.com/annual/2025/?fullscreen=1&&dt_from=book_navigation" class="bookannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'book_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= pic}}" width="40" />
            <div>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                <p>
                {{if type == "b"}}
                    {{= author_name}}
                {{else type == "a" }}
                    {{if en_name}}
                        {{= en_name}}
                    {{/if}}
                {{/if}}
                 </p>
            </div>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f8b2226/book/bundle.js" defer="defer"></script>




    <div id="wrapper">
        
        
  <div id="content">
    
    <h1>《旷野无人》试读：引子</h1>

    <div class="grid-16-8 clearfix">
      
      <div class="article">

<div class="book-info">
    <div class="book-content">
        <div class="note" unselectable="on" onselectstart="return false;">    引子
现在是2005年8月26日星期五上午11点20分。自从2004年8月7日之后，我没有面对过这部认知日记。
多少次想打开电脑，把它点击出来看看。只这么一想，气就郁结在胸在腹，满满地痛。此刻我已经开始头晕，恶心。
为什么会这样？想回避？积极点，李兰妮。我知道你脑子里又充满了那些抑郁症自杀者的影像和声音。关掉这电闸。深呼吸。
好些了吗？我知道你的心在轻轻哆嗦。
癌症开过三次刀，做过四个半疗程的化疗。从2003年4月至今，你一直要服用抗抑郁药：赛乐特、奇比特和佳乐定。你每天都会想到这句话：活着比死要艰难。
你每天要在脑海里反复抹去这句话。
旷野无人——往光亮处看啊，你将走过死荫的幽谷。
常有人问：你在写什么？什么也不写。
那你每天干什么？不干什么。
心说：我在竭尽全力——活啊。
 </div>
    </div>
</div>
<div class="rel-info">
    







<div class="rec-sec">

    <span class="rec">

<a href="https://www.douban.com/accounts/register?reason=collect" class="j a_show_login lnk-sharing lnk-douban-sharing">推荐</a>
</span>
<span class="rec-num">1人</span>
</div>

</div>
<div class="paginator">
<span class="prev">
    <a href="https://book.douban.com/reading/10427614/">兰妮自白</a>
</span>

<span class="break"><a href="https://book.douban.com/subject/3123690/reading/">回试读目录</a></span>

<span class="next">
    <a href="https://book.douban.com/reading/10427643/">第1篇认知日记</a>
</span>
</div>
</div>
      <div class="aside">
        
    <p class="pl2">><a href="/subject/3123690/">旷野无人</a></p>
    <div class="indent">
        











<div>
    <a href="https://book.douban.com/subject/3123690/">
        <img width="100px" class="fil" alt="旷野无人" title="旷野无人" src="https://img3.doubanio.com/view/subject/s/public/s3153022.jpg" rel="v:image">
    </a>
<br clear="all"/>

    <span class="pl">作者:</span> 李兰妮<br/>

    
            
    <span class="pl">副标题:</span> 一个抑郁症患者的精神档案<br/>

    
            
    <span class="pl">isbn:</span> 7020067026<br/>

    
            
    <span class="pl">书名:</span> 旷野无人<br/>

    
            
    <span class="pl">页数:</span> 374页<br/>

    
    
            
    
            
    
    
            
    <span class="pl">定价:</span> 35.00元<br/>

    
    
            
    <span class="pl">出版社:</span> 人民文学出版社<br/>

    
            
    <span class="pl">出版年:</span> 2008年6月<br/>

    
    
            
</div>

    </div>

      </div>
      <div class="extra">
        
      </div>
    </div>
  </div>

        
  <div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2026 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=book" target="_blank">帮助中心</a>
    · <a href="https://book.douban.com/library_invitation">图书馆合作</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
</span>

  </div>

    </div>
      

    <!-- COLLECTED JS -->
    <!-- mako -->
    
    <script src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js"></script>
<script type="text/javascript">
    $(function(){
        $(".delete-page-btn").click(function(e){
            e.preventDefault();
            chp_id = this.id.split("_")[1];
            $.get("/j/reading/popwin_delete_page", {"chp_id": chp_id}, function(data){
                dui.Dialog({
                    title: '请告诉我们删除的理由',
                    content: data,
                    width: 400,
                    cache: false,
                    buttons: [
                        {
                            text: '提交',
                            method: function(o){
                                o.submit();
                                o.close();
                                window.location.reload();
                            }
                        },
                        {
                            text: '取消',
                            method: function(o){
                                o.close();
                            }
                        }
                    ]
                }).open();
            }, "html");
            return false;
        });
    });
</script>

    
  

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://s.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
  })();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-16', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id])

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








    <!-- dae-web-book--default-6fdf79c7c6-ns89l-->

</body>
</html>




































